ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  font-family: Arial;
  margin: 0;
}
  
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.content {padding:20px;}
  
table, td {
  border:1px solid black;
}

* {
        box-sizing: border-box;
 }

.column {
    float: center;
    width:33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

